body {
    font-family: Arial, sans-serif;
    margin: 0 auto;
    padding: 20px;
    max-width: 400px;
    background-color: #fff;
}

header h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.totals {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.totals div {
    text-align: center;
}

.totals span {
    display: block;
    font-size: 14px;
    color: #666;
}

.transaction-box {
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.transaction-box ul {
    list-style: none;
    padding: 0;
}

.transaction-box li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}

.transaction-box li:last-child {
    border-bottom: none;
}

.transaction-box i {
    margin-right: 10px;
}

.transaction-box li.spent span:last-child {
    color: red;
}

.transaction-box li.income span:last-child {
    color: #00A36C;
}

.controls {
    text-align: center;
    margin-top: 20px;
}

.trackMoneyButton {
    padding: 15px 30px;
    background-color: #00A36C;
    color: #fff;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    width: 75%;
}

.month-selector {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.month-selector h1 {
    margin: 0;
    font-size: 24px;
}

.month-selector button {
    background-color: #eee;
    border: none;
    padding: 5px 10px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
}
